.profilepic{
    mix-blend-mode: multiply;
}
.irregular-shape{
    border-radius: 30% 70% 67% 33% / 30% 33% 67% 70% ;
    background-color: black;
    height: 200px;
    width: 200px;
}
.height{
    height: calc(100vh - 110px);
}